<h1>GifGenerator<h1>

<p>
  <a href="https://hulkhogan.com/">
  <img class="image" src="<%= 'https://i.pinimg.com/originals/aa/cb/28/aacb28b1642bf8a405969dbacf44881e.gif' %>">
  </a>
</p>
<br>
<a href='/login'>I already have an account</a>
<br>
<a href='/users/new'>Sign up to be a new user</a>
<br>
