Welcome, <%= current_user.username %>
<br>
<img class="image" src="<%= 'https://media1.tenor.com/images/569813199ec815b3079afa5587d21fea/tenor.gif?itemid=3527228
' %>">
<br>
<h2>
<a href='/gifs'>Show me some Rad Gifs!</a>
</h2>
